{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container text-center yellow-background">
  <h1>{% trans "Login" %}</h1>

  <form class="form p-2" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary w-25 mb-2" type="submit">{% trans "Login" %}</button>
  </form>
   <!-- Sign Up Button -->
   {% trans "Sign Up" as signup_text %}
    <a class="btn btn-secondary w-25 mb-2" href="{% url 'account_signup' %}">{{ signup_text }}</a>
   
</div>
{% endblock %}