* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
}

main {
    flex: 1 0 auto;
}

/* Navigation */

.navbar {
    padding: 2rem;
    background-color: #191F39;
    color: #fff;
}

.container {
    padding: 0;
    max-width: 90%; 
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding-right: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
}

.btn-primary {
    background-color: #FF6B8A;
    border-color: #FF6B8A;
}

.btn-primary:hover {
    background-color: transparent;
    border: 1px solid #FF6B8A;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FF6B8A;
  }

/* Hero section with background image */

.hero {
    background-image: url(/static/media/jordane-mathieu-f4259usPV14-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 5rem;
}

.hero-text {
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.hero-btn {
    margin-top: 20px;
}

/* Footer */

.footer {
    flex-shrink: 0;
    background-color: #DCFFF8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #191F39;
    text-align: center;
    padding: 20px 0;
}

.footer-icons {
    height: 2rem;
    margin: 1rem;
    font-size: 2rem;
    color: #191F39;
}

.footer-icons:hover {
    color: #FF6B8A;
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}

