* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #FF6B8A;
}

/* Fonts */

h1, h2, h3, h4 {
    font-weight: 700;
}

/* Navigation */

.navbar {
    background-color: #191F39;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    padding: 0;
    max-width: 90%; 
}

.navbar-nav {
    margin-left: auto;
    padding: 1rem;
}

.navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding-right: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
}

.nav-item {
    padding: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FF6B8A;
  }

.material-symbols-outlined {
    font-size: inherit;
    vertical-align: middle;
}

/*  Buttons */

.btn-primary {
    background-color: #FF6B8A;
    border-color: #FF6B8A;
}

.btn-primary:hover {
    background-color: #fd8ea6;
    color: #fff;
    border-color: #fd8ea6;
}

.btn-secondary {
    background-color: transparent;
    color: #191F39;
    border-color: #191F39;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #191F39;
} 

/* Hero section with background image */

.hero {
    background-image: url(https://res.cloudinary.com/dl1cowuzi/image/upload/v1697524159/jordane-mathieu-f4259usPV14-unsplash_xn0sca.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 5rem;
}

.hero-text {
    font-weight: 700;
}

.hero-btn {
    margin-top: 20px;
}

/* Recipes card */

.row {
    --bs-gutter-x: 0;
}

.recipe-card {
    border-radius: 10px;
    margin: 2rem;
}

.recipe-card img {
    border-radius: 10px 10px 0 0;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.yellow-card {
    padding: 10px;
    background-color: #FFFBE1;
    border-radius: 0 0 10px 10px;
    min-height: 180px;
}

.yellow-card h4 {
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    margin: 1rem;
}

.yellow-card p {
    text-align: center;
}

.page-link {
    background-color: #FF6B8A;
    color: #fff;
    border-radius: .3rem;
    margin: 1rem;
}

.page-link:hover {
    background-color: #191F39;
    color: #fff;
    border-radius: .3rem
}

/* Recipe detail view */

.recipe-img {
    max-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .btn-like {
    color: #FF6B8A;
    font-size: 2rem;
 }

 .btn-like:hover {
    color: #191F39;
 }

 .recipe-container {
    max-width: 80%;
 }

 /* My recipe view */

 .my-recipes-header {
    height: 40vh
 }

 .badge-primary {
    z-index: 1;
    background-color: #FF6B8A;
    padding: 2rem;
    position: absolute;
    margin: 1rem;
 }

/* Login, Logout, Sign Up form */

.yellow-background {
    background-color: #FFFBE1;
}

.form-container {
    max-width: 400px;
    padding: 20px;
}

/* Footer */

.footer {
    flex-shrink: 0;
    background-color: #DCFFF8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #191F39;
    text-align: center;
    padding: 20px 0;
}

.footer-icons {
    height: 2rem;
    margin: 1rem;
    font-size: 2rem;
    color: #191F39;
}

.footer-icons:hover {
    color: #FF6B8A;
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
}

/* Add recipe */

.form-recipe {
    width: 800px;
}

/* // Medium devices (tablets, 992 and down) */
@media screen and (max-width: 992px) {
    .navbar {
        padding: 0.4rem;
    }

    .logo-img {
        width: 150px;
    }

    .recipe-card {
        margin: 1rem;
    }

    .recipe-img {
        max-height: 20vh;
    }

    .yellow-card {
        min-height: auto;
    }

    .my-recipes-header {
        height: 20vh;
    }
}   

/* // Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 350px) {
    .hero {
        padding: 2rem;
    }

    .recipe-card {
        margin: 0.8rem;
    }

    .recipe-card img {
        height: 20vh;
    }

    .yellow-card h4 {
        margin: 0;
    }
}    