{% extends "base.html" %}
{% block title %}Add Recipe{% endblock %}
{% block body_class %}yellow-background{% endblock %}
{% block content %}

<!-- Form for adding a recipe -->
<div class="container form-recipe">
    <!-- Recipe Form -->
    <form class="p-2 form" method="POST" enctype="multipart/form-data" action="{% url 'add_recipe' %}">
        <!-- Page Title -->
        <h1 class="p-4 text-center">Add Recipe</h1>
        {% csrf_token %}
        <!-- Render form media and form content using the Crispy Forms template tag -->
        {{ form.media }} 
        {{ form | crispy | safe}}
        <!-- Button for submitting the form -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary col-12 col-md-4 p-2 my-4">
                <span class="material-symbols-outlined">add_circle</span> Add Recipe
            </button>
        </div>
    </form>
</div>

{% endblock %}