{% extends "base.html" %}
{% block title %}The Pastry Hub - Share your sweet secrets!{% endblock %}
{% block content %}

<!-- Hero image and call to action -->

<div class="container-fluid hero">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="display-4 hero-text">Share your <br>sweet secrets!</h1>
        <a class="btn btn-primary btn-lg hero-btn" href="#">Add Recipe</a>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">


<!-- Recipe cards loop -->
        {% for recipe in recipe_list %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="recipe-card">
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="img-fluid">
                <div class="yellow-card">
                <h4>{{ recipe.title }}</h4>
                <p>By {{ recipe.author }} | {{ recipe.baking_time }} min</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}