{% extends "base.html" %}
{% block title %}The Pastry Hub - Share your sweet secrets!{% endblock %}
{% block content %}

<!-- Hero image and call to action -->

<div class="container-fluid hero">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <h1 class="display-4 hero-text">Share your <br>sweet secrets!</h1>
        <a class="btn btn-primary btn-lg hero-btn" href="#">Add Recipe</a>
      </div>
    </div>
  </div>

<!-- Recipe Section -->


{% endblock %}