{% extends 'base.html' %}
{% block title %}{{ recipe.title|slice:":15"}}...{% endblock %}
{% block content %}

<!-- Recipe Detail Template -->
<div class="container-fluid p-0">
    
    <!-- Display Recipe Image -->
    <div class="row">
        <div class="col">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.image_alt }}" class="img-fluid recipe-img">
        </div>
    </div>
</div>

<div class="container mt-4 recipe-container">
    <div class="row">
        <div class="col-md-12 text-center">
            
            <!-- Favorite Button -->
            {% if user.is_authenticated %}
                {% if not favorite %}
                    <!-- Add to Favorites Button -->
                    <a class="btn btn-like" href="{% url 'add_favorite_recipe' recipe.id %}">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                {% else %}
                    <!-- Remove from Favorites Button -->
                    <a class="btn btn-like" href="{% url 'add_favorite_recipe' recipe.id %}">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                {% endif %}
            {% endif %}
            
            <!-- Recipe Title and Author Information -->
            <h1 class="text-center pt-4">{{ recipe.title }}</h1>
            <p class="text-center text-muted small">By {{ recipe.author }} &nbsp; | &nbsp; 
                <i class="fa-regular fa-clock"></i>  {{ recipe.baking_time }} min
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <!-- Ingredients Section -->
            <h2>Ingredients</h2>
            <p>{{ recipe.ingredients | safe }}</p>
        </div>
        <div class="col-md-6">
            <!-- Instructions Section -->
            <h2>Instructions</h2>
            <p>{{ recipe.instructions | safe }}</p>
        </div>
    </div>
    <div class="row">
        {% if request.user == recipe.author %}
        
        <!-- Edit and Delete Options for the Author -->
        <div class="d-flex justify-content-center">
            <a href="{% url 'update' recipe.pk %}" class="btn btn-primary col-6 col-md-3 me-1 p-2">
                <span class="material-symbols-outlined">edit</span> Edit
            </a>
            <a href="{% url 'delete' recipe.pk %}" class="btn btn-secondary col-6 col-md-3 ms-1 p-2">
                <span class="material-symbols-outlined">delete</span> Delete
            </a>
        </div>
        {% endif %}
            <!-- Show More Recipes Button -->
            <div class="d-flex justify-content-center">
                <a href="{% url 'home' %}" class="btn btn-primary col-12 col-md-4 col-lg-3 p-2 my-4">Show more recipes
                    <span class="material-symbols-outlined">chevron_right</span>
                </a>
            </div>
    </div>
</div>

{% endblock %}

<!-- Buttons for Update and Cancel Actions 
 <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary col-6 col-md-3 me-1 p-2 my-4">Update</button>
    <button type="submit" class="btn btn-secondary col-6 col-md-3 ms-1 p-2 my-4">Cancel</button>
</div>