{% extends 'base.html' %}
{% block title %}{{ recipe.title|slice:":15"}}...{% endblock %}
{% block content %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.image_alt }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1 class="text-center">{{ recipe.title }}</h1>
            <p class="text-center text-muted small">{{ recipe.author }} / {{ recipe.posted_date }}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }} - {{ ingredient.quantity }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Instructions</h2>
            <ol>
                {% for step in recipe.instructions.all %}
                    <li>{{ step.description }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>


{% endblock %}
